<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Suite">

    <test name="seleniumDocker">
        <classes>
            <class name="selenium.seleniumDocker"/>
        </classes>
    </test>

    <test name="launch">
        <classes>
            <class name="selenium.launch"/>
        </classes>
    </test>

</suite>
